.header {
    border-bottom: 1px solid #eee;
    z-index: 10;
    padding:0px 5px; 
    display: flex;
    align-items: center;
    // position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
  color: black;
  background-color: white;
  font-size: 45px;
 padding-top: 10px;
 padding-bottom: 10px;
 
}