<div style="display: flex; background-color:white;">
 
    <div class="pointer iconColor pannel-icon" (click)="click(1)">
        <i class="fa fa-home pointer"></i>
        <span style="font-size: 25px;margin-left: 13px;">Home</span>
    </div>

    <div class="pointer iconColor pannel-icon" (click)="click(2)">
        <i class="fa fa-fire pointer"></i>
        <span style="font-size: 25px;margin-left: 13px;">Trending</span>
    </div>

    <div class="pointer iconColor pannel-icon" (click)="click(3)">
        <i class="fa fa-history" aria-hidden="true"></i>
        <span style="font-size: 25px;margin-left: 13px;">History</span>
    </div>

</div>