.fa {
     font-size: 25px;
}

.pannel-icon {
     display: flex;
     // flex-direction: column;
     height: 70px;
     min-width: fit-content;
     padding:10px ;
     align-items: center;

     &:hover {
          background-color: #eee;
     }
}

.showMoreVisible {
       visibility: visible;
}

.showMoreNone {
     visibility: hidden;
}